* {
    margin :0;
    padding:0;
    box-sizing:border-box; 
}
body
{
 display: flex;
 justify-content: center;
 align-items: center;
 min-height: 100vh;
    background-size: cover;
    background: url(images/bg4.jpg) no-repeat center;
}
.regs                                  
{
width: 600px;
height: 700px;
background:transparent;
border: 1px solid rgb(184, 184, 184);
border-radius: 10px;
padding: 20px 30px;
backdrop-filter: blur(1px);
box-shadow: 0 0 50px #36363623;
overflow: auto;
}   

.regs h1{
    display:flex;
    justify-content: center;
    margin-bottom: 40px;

}

.regs .box{
    display:flex;
    justify-content: center;
}
.box input{         /*input box*/
    width: 100%;
    height: 80%;
    background :transparent;
    outline: none;
    border: 1px solid rgb(215, 213, 213);
    border-radius:30px;
    padding :20px 30px 20px 10px ;
    font-size: 20px;
    color:rgb(250, 255, 255);
    margin-bottom:20px ;
   
}

.rad .sel{           /**/
    border: 1px solid rgb(215, 213, 213);
    border-radius: 30px;
    margin-bottom:20px;
}

.sel select {
    background: transparent;
 border: 0;
 outline: 0;
 padding-left:3px;
 border-radius: 0;
 width:95%;
 position: relative;
 font-size: 20px;
 color: rgb(53, 53, 53);
 margin-top:20PX ;
 margin-bottom: 20px;
}
 
.box ::placeholder{
    font-size: 20px;
    color: rgb(53, 53, 53);
}

 .regs .regbtn                            /*login button*/
{                                           /*Username/password box*/
         width: 450px;
         height: 50px;
         display: flex;
         margin: 15px 0 30px;
         justify-content: center;
}
.regs .regbtn #reg                              /*login button*/
{
    display:flex;
    justify-content: center;
    align-items: center;
    width : 400px;
    height: 50px;
    background-color: #6c6b6b;
    color:rgb(191, 191, 191);
    margin-top: 30px;
    margin-left:80px;

    border:none;
    border-radius: 30px;
    outline: none;
    cursor:pointer;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
}

.regbtn #reg:hover
{
    background-color: rgb(202, 202, 202);
    color:rgb(42, 42, 42);
}

































































































/* 
.regs .prenext                      /*NEXT AND PREVIOUS PAGE NAVIGATION 
{
    justify-content:right;
    width : 39%;
    display:flex;
    margin-top :80px;
    margin-left:260px;
    outline:0px;
    border:1px solid #c6c6c65d;
    border-radius: 20px;
    background-color: #c6c6c65d;
    box-shadow: 0 0 20px rgba(58, 58, 58, 0.405);
}
.prenext a
{
color:#434343;

 text-decoration: none;
 font-weight: 1000;
 font-size: 20px;
}
.prenext a:hover
 {
    color:#dadada;
    background-color: #0c0b0bc7;
    text-decoration: underline;
 } */
 