<!--
<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{homepage.css}">
    <title>My Homepage</title>
</head>
<body>

<header>
    <a class="logo" href="#" >Fitrac</a>
    <nav>
        <a class="navbar" href="#">Profile</a>
        <a class="navbar" href="DailyConsumptionRecord.html">Today's Consumption</a>
        <a class="navbar" href="#">Analysis</a>
        <a class="navbar" href="#">Food Section</a>

    </nav>
</header>


<footer>
</footer>


</body>
</html>
-->

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
</head>
<body>
    <h1>This is a home page</h1>
</body>
</html>
