
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="food.css">
    <title>Table with Buttons</title>
</head>
<body>

<h2>Input Data</h2>
<form action="/update" object="" method="post">

    <input type="text" name="name" placeholder="Name" /><br />
    <input type="number" name="kcal" placeholder="Kcal(in g)" /><br />
    <input type="number" name="protein" placeholder="protein(in g)" /><br />
    <input type="number" name="carb" placeholder="Carb(in g)" /><br />
    <input type="number" name="fat" placeholder="Fat(in g)" /><br />
    <input type="number" name="fibre" placeholder="Fibre(in g)" /><br />
    <input type="number" name="price" placeholder="Price(/piece/100g)" /><br />

    <button onclick="window.location.href='/Food'">Save</button>
</form>

<h1>Table with Buttons</h1>
<table id="data-table">
    <thead>
    <tr>
        <th>F_ID</th>
        <th>Name</th>
        <th>Kcal(Energy)</th>
        <th>Protein</th>
        <th>Carb</th>
        <th>Fat</th>
        <th>Fibre</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody id="food-table-body">

    <tr th:if="${allFood.empty}">NO FOOD</tr>
    <tr th:each="food : ${allFood}">
        <td th:text="${food.id}"></td>
        <td th:text="${food.name}"></td>
        <td th:text="${food.kcal}"></td>
        <td th:text="${food.protein}"></td>
        <td th:text="${food.carb}"></td>
        <td th:text="${food.fat}"></td>
        <td th:text="${food.fibre}"></td>
        <td th:text="${food.price}"></td>

    </tr>
    <!-- Add more rows as needed -->
    </tbody>
</table>


</body>

</html>


