<!DOCTYPE html>
<html lang="en" >
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>FITRAC</title>
        <link rel="stylesheet" href="../static/style.css">
        
    </head>
    <body>
        <div class="ft">
            <form action="">
                <h1>Login</h1>
                <div class="box">
                    <input type="text" id="un"  placeholder="Username" required>
                </div>      
                <div class="box">
                    <input type="password" id="pw"  placeholder="Password" required>
                </div>
                <div class="btn">
                    <button id="bt" type="submit" >Login</button>
                </div>
                <div class="createAC">
                    <p>Don't have an account?<a href="registration.html"> Create one!</a></p>
                </div>
            </form>
        </div>
    </body>
</html>
