<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>FITRAC</title>
    <link rel="stylesheet" href="/registration.css">
</head>
<body>
<div class="regs">
    <form method="POST" action="/registration" >
        <h1>Register</h1>
        <div class="box">
            <input type="text" id="N" placeholder="Choose a Username" name="username" required autofocus> <br>
        </div>
        <div class="box">
            <input type="number" id="age" placeholder="Age" name="age" required autofocus><br>
        </div>
        <div class="box">
            <input type="password" id="PW" placeholder="Password" minlength="8" name="password" required
                   autofocus><br>
        </div>
        <div class="box">

            <input type="number" id="height" placeholder="Height in m" name="height" required autofocus><br>
        </div>
        <div class="box">
            <input type="number" id="weight" placeholder="Weight" name="weight" required autofocus><br>
        </div>
        <div class="rad">
            <div class="sel">
                <select id="gender" name="gender" required autofocus>
                    <option value="Gender">Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select><br>
            </div>
        </div>
        <div class="rad">
            <div class="sel">

                <select id="goal" name="goal">
                    <option value="Goal">Goal</option>
                    <option value="Male">Fitness</option>
                    <option value="WG">Weight Gain</option>
                    <option value="WL">Weight Loss</option>
                    <option value="BR">Body Recomposition</option>
                </select><br>
            </div>
        </div>
        <div class="rad">
            <div class="sel">

                <select id="Healthconditions" name="healthc">
                    <option value="conditions">Health Conditions</option>
                    <option value="CD">Cardiovascular Diseases</option>
                    <option value="Diabetes">Diabetes</option>
                    <option value="HT">Hypertension</option>
                    <option value="GD">Gastrointestinal Disorder</option>
                    <option value="CD">Celiac Diseases</option>
                    <option value="CKD">Chronic Kidney Disease</option>
                    <option value="more">more..</option>
                </select><br>
            </div>
        </div>
        <div class="regbtn">
            <a href="user/Homepage.html"><button id="reg" type="submit">Register</button></a>
        </div>
    </form>
</div>
</body>
</html>

